*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
keystore.password.txt
*.jks
*.keystore
*.apk
crash_logs/

# Build junk logs (Android Sandbox Gradle redirects)
build_*.log
gradle_stdout.log
stderr.log
stdout.log

# Local one-click installer (GIOSANBLAS PC - device 8c00247c Redmi 14C 24115RA8EG)
1_INSTALAR_A_REDMI.bat
